/***
	$Id$
	Layout specific CSS styles. 
***/

body {
	padding: 0;
	margin: 0;
	}

#pageFrame {margin:0; width:100%; border: solid 1px #48d;}

#header {
	padding: 0;
	margin:  0;
	height: 75px;
	}

#main-nav {
	position: relative;
	margin: 0;
	padding: 0 10px;
	height: 20px;
	}

#sidebar-left {
	position: absolute;
	top: 107px;
	right: auto;
	left: 5px;
	margin: 0;
	padding: 0;
	width: 190px;
	}

#sidebar-right {
	position: absolute;
	top: 107px;
	right: 0;
	left: auto;
	margin: 0;
	padding: 0;
	width: 190px;
	}

.main-content {
	position: relative;
	margin: 10px;
	padding: 10px 0;
}

#content-left {
	margin-left: 200px;
	}

#content-right {
	margin-right: 200px;
	}

#content-both{
	margin: 10px 200px;
	}

#footer {
	margin: 10px 235px 0 10px;
	clear: both;
	padding-top: 4px;
	padding-bottom: 10px;
	}

